*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

spec/fixtures/authentications.yml

spec/cassettes/*
spec/.DS_Store

spec/pivit/.DS_Store

spec/pivit/client/.DS_Store

spec/irb_setup_script.rb

.DS_Store
