#spec/fixtures/authentications.yml
USERNAME:   myusername
PASSWORD:   supersecret
TOKEN:      supersecret
PROJECT:    "12345"                      # ID of a project
STORY:      "12345"                      # ID of a story
STORY_B:    "12345"                      # ID of an alternate story
MEMBERSHIP: "12345"                      # a id of a membership of a user in your project
NOTE:       "This some note text"        # Some test text
TASK:       "12345"                      # ID of a task within your pivotal tracker project 
FILE:       "../../../fixtures/test.png" # File locatin of the image/doc/text you would like to use to test with
